<template>
    <template if:true={showOrderForm}>
            <lightning-record-edit-form object-api-name="Cake__c" onsuccess={handleSubmit}>
                <lightning-messages>
                </lightning-messages>
                <lightning-accordion allow-multiple-sections-open class="example-accordion slds-grid slds-gutters slds-is-open"
                    active-section-name={activeSections}>
        
                    <template class="slds-col slds-size_1-of-2" for:each={fields_per_section} for:item="accordion_item">
                        <lightning-accordion-section key={accordion_item.label} name="Order"
                            label={accordion_item.label}>
                            <template for:each={accordion_item.fields} for:item="fieldFromSubsection">
                                <lightning-input-field key={fieldFromSubsection} field-name={fieldFromSubsection}>
                                </lightning-input-field>
                            </template>
                            <div class="slds-align_absolute-center submitButtons">
                                    <lightning-button type="submit" variant="brand" label="Save" title="Save" onclick={handleSubmit} class="slds-m-left_x-small">
                                    </lightning-button>
                            </div>
                        </lightning-accordion-section>
                    </template>
                </lightning-accordion>
            </lightning-record-edit-form>
    </template>

    <template if:true={cakeModal}>
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
                    <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <p>
                    Thank you! Your order has been submitted. Please allow 24-28 hours for processing.
                </p>
                </div>
                <footer class="slds-modal__footer">
                <button class="slds-button slds-button_brand" onclick={hideModal}>Close</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

</template>