<template>
        <lightning-record-edit-form object-api-name="Contact" onsuccess={handleSuccess}>
            <lightning-messages>
            </lightning-messages>
            <lightning-accordion allow-multiple-sections-open class="example-accordion slds-grid slds-gutters slds-is-open"
                active-section-name={activeSections}>
     
                <template class="slds-col slds-size_1-of-2" for:each={fields_per_section} for:item="accordion_item">
                    <lightning-accordion-section key={accordion_item.label} name={accordion_item.label}
                        label={accordion_item.label}>
                        <template for:each={accordion_item.fields} for:item="fieldFromSubsection">
                            <lightning-input-field key={fieldFromSubsection} field-name={fieldFromSubsection}>
                            </lightning-input-field>
                        </template>
                        <div class="slds-align_absolute-center">
                                <lightning-button label="Cancel" title="cancel" onclick={handleCancel} class="slds-m-left_x-small">
                                </lightning-button>
                                <lightning-button type="submit" variant="brand" label="Next" title="Next" onclick={handleNext} class="slds-m-left_x-small">
                                </lightning-button>
                            </div>
                    </lightning-accordion-section>
                </template>
            </lightning-accordion>
     
        </lightning-record-edit-form>


        <template if:true={orderForm}>
                <c-order-form show-cake-order={handleNext}></c-order-form>
        </template>
        
    </template>