
div,a,span {
    box-sizing: border-box;
}

/* HEADERS */
h1,h2,h3,h4,h5 {
	font-family: StratumBold,Arial,sans-serif;
	text-transform: capitalize;
	font-weight: 400;
	margin: 2rem 0 1rem;
	letter-spacing: .01em;
}
h1{ font-size: 2.75rem; }
h2{ font-size: 2rem; }
h3{ font-size: 1.5rem; }
h4{ font-size: 1.25rem; }
h5{ font-size: 1rem; }

/* FORM INPUT FIELDS STYLE */
.input-form {
	max-width: 900px;
	margin: 0 auto;
	padding: 0;
}
.input-form-title {
	text-align: center;
	padding: 0 1rem;
}
.input-form-subtitle {
    text-align: left;
    font-size: 1rem;
}
.input-form-subtitle p {
	text-align: center;
}
.input-form fieldset {
	margin: 1rem 0;
	padding: 0;
}
.input-form-fieldset fieldset {
	margin: 0;
}
.input-form fieldset table {
	margin: 0;
	padding: 0;
}
.input-form fieldset table td {
	border-bottom: none;
	margin: 0;
	text-align: center;
}
.input-form-row {
	align-items: center;
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    margin-top: 1rem;
}
@media only screen and (max-width: 1024px) {
	.input-form-row {
		display: block;
	}
}
.input-form-btn-container {
	padding: 1rem 0;
	margin: 0 auto;
}
.input-form-btn-container .input-form-row {
	display: block;
	text-align: right;
}
.input-form-row label.label {
	color:#0e182d;
	width: 28%;
	box-sizing: border-box;
	padding: 0 .5rem 0 0;
	position: relative;
	-webkit-flex: 0 1 28%;
	-ms-flex: 0 1 28%;
    flex: 0 1 28%;
    font-family: "StratumBold";
    font-size: 1rem;
    line-height: 1.2;
    letter-spacing: 0.1px;
    text-transform: uppercase;
}
@media only screen and (max-width: 1024px) {
	.input-form-row label.label {
		width: 100%;
	}
}
.input-form-row.checkbox-row {
	padding: 1rem 1.5rem;
}
.input-form-row.checkbox-row .label {
	height: auto;
	margin-left: 1rem;
}
.input-form-row.checkbox-row .input {
	height: auto;
}
.input-form-row>.requiredInput, 
.input-form-row>fieldset,
.input-form-row>.dateInput,
.input-form-row>span,
.input-form-row .input-container {
    width: 73%;
}
@media only screen and (max-width: 1024px) {
	.input-form-row>.requiredInput, 
	.input-form-row>fieldset,
	.input-form-row>.dateInput,
	.input-form-row>span,
	.input-form-row .input-container {
		width: 100%;
	}
}
.uiInput,
.uiInputText,
.uiInput--default,
.uiInput--input {
	width: 100%;
}
.input-form-row input[type="email"],
.input-form-row input[type="number"],
.input-form-row input[type="search"],
.input-form-row input[type="text"],
.input-form-row input[type="tel"],
.input-form-row input[type="url"],
.input-form-row input[type="password"],
.input-form-row textarea,
.input-form-row .input {
	box-sizing: border-box;
	border: 1px solid #d8d8d8;
	background: 0 0;
	padding: .5rem 1rem;
	height: 4rem;
	outline: 0;
	-webkit-appearance: none;
	transition: background 250ms cubic-bezier(.25,.25,.75,.75);
	width: 100%;
	position: relative;
	left: 0;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	font-weight: 300;
	color: #6a6a6a;
	font-size: 100%;
}
.input-form-row input[type="email"]:hover,
.input-form-row input[type="number"]:hover,
.input-form-row input[type="search"]:hover,
.input-form-row input[type="text"]:hover,
.input-form-row input[type="tel"]:hover,
.input-form-row input[type="url"]:hover,
.input-form-row input[type="password"]:hover,
.input-form-row textarea:hover,
.input-form-row select:hover {
    background: #fafafa;
}
.input-form-row input[type="email"]:focus,
.input-form-row input[type="number"]:focus,
.input-form-row input[type="search"]:focus,
.input-form-row input[type="text"]:focus,
.input-form-row input[type="tel"]:focus,
.input-form-row input[type="url"]:focus,
.input-form-row input[type="password"]:focus,
.input-form-row textarea:focus,
.input-form-row select:focus {
    background: #fafafa;
}
.input-form-row select {
	box-sizing: border-box;
	border: 1px solid #d8d8d8;
    margin: 0;
    max-width: 25%;
    min-width: 85px;
    width: 100%;
    line-height: 2rem;
    padding: 1rem;
    position: relative;
    left: 0;
	color: #6a6a6a;
	font-size: .85rem;
}
.date-dropdowns {
	padding-left: 2px;
}
.input-form-row select.select-single {
	max-width: 100%;
}
.input-form-row>.requiredInput select.select-single {
	max-width: 100%;
}
.input-form-row>span select.select-single {
	max-width: 100%;
}
.input-form-row>fieldset table.input {
	width: 100%;
}
.input-form-row>fieldset table.input td:first-child {
	padding-left: 1rem;
	text-align: left;
}
.input-form-row>fieldset table.input td:last-child {
	padding-right: 1rem;
	text-align: left;
}
.input-form-row .input.error {
	border-right: 3px solid #c52a0c;
}
.input-form-row .errorMsg {
    position: absolute;
	left: 0;
	margin-right: -.35rem;
	padding: 0 .25rem;
	background: #c52a0c;
	color: #fff;
	bottom: 0;
	font-size: .8rem;
}
.input-form-footer {
	text-align: center;
	padding: 0;
	margin-top: 2rem;
}
.input-form-footer p {
	margin-bottom: 0;
}
.input-form-footer  a {
	text-decoration: none;
	color: #446286;
}
.input-form-footer  a:hover {
	color: #446286;
	text-decoration: underline;
}
.input-form-footer  h5 {
	font-size: 1rem;
}
.input-form-footer  img {
	width: 8px;
	margin-left: .5rem;
}
.dateFormat {
	display: none;
}
/*END INPUT FORM*/

/*BUTTONS STYLE*/
button.slds-button,
button.slds-button--neutral, 
button.sfdc_button,
button.uiButton--default,
button.uiButton,
input[type="submit"],
input[type="reset"],
button.slds-button:hover,
button.slds-button--neutral:hover, 
button.sfdc_button:hover,
button.uiButton--default:hover,
button.uiButton:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
    border: 0;
    border-top: 0;
    font-family: StratumBlack,Arial,sans-serif;
    font-weight: 500;
	font-size: .9rem;
    letter-spacing: .08em;
    margin: 0;
    padding: .5rem 1rem;
	text-transform: uppercase !important;
	text-align: center;
	text-decoration: none;
    display: block;
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
    -webkit-border-radius: 0;
    border-radius: 0;
    background: transparent;
    color: #0e182d;
    width: 100%;
}
.uiButton--default .label, .uiButton--default .label {
    color: #0e182d;
    text-shadow: none;
}
.uiButton--default:hover .label, .uiButton--default:focus .label {
    color: #0e182d;
    text-shadow: none;
}
.button--wrapper {
	display: inline-block;
    position: relative;
	margin: 0 0 0 1.25rem;
	min-width: 100px;
	width: 25%;
}
@media only screen and (max-width: 1024px) {
	/* For mobile */
	.button--wrapper {
		margin: 0 auto;
	}
}
.button--wrapper.limit-width {
    padding: 0 2rem;
    max-width: 33%;
}
.button--wrapper.full-width {
	padding: 0 2rem;
	width: 100%;
    max-width: 100%;
}
.button--animation {
	background-color: rgba(255,255,255,.4);
	overflow:hidden;
	padding: 1px;
    position: relative;
    z-index: 1;
}
.button--animation.is-inverted {
	background-color: rgba(14, 24, 45, .5);
}
.button--animation:active {
	background-color: rgba(14, 24, 45, .5);
}
.button--animation:active.is-inverted {
	background-color: #fff;
}
.button--animation:hover .gap, 
.button--animation:focus .gap {
	-moz-transform: rotate(25deg);
	-webkit-transform: rotate(25deg);
	-o-transform: rotate(25deg);
	-ms-transform: rotate(25deg);
	transform: rotate(25deg);
}
.button--animation .gap {
    content: "";
    position: absolute;
    top: calc(50% - 2.5px);
    left:-25%;
    width: 150%;
    height: 5px;
    background-color: #0e182d;
    -moz-transform: rotate(155deg);
	-webkit-transform: rotate(155deg);
	-o-transform: rotate(155deg);
	-ms-transform: rotate(155deg);
    transform: rotate(155deg);
    -webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.button--animation .inner {
    position: relative;
    background-color: #0e182d;
    color: #ffffff;
}
input[type="submit"]:active,
input[type="button"]:active {
    position: relative;
    background-color: #fff;
    color: #0e182d;
}
input[type="submit"]:active.is-inverted,
input[type="button"]:active.is-inverted {
    position: relative;
    background-color: #0e182d;
    color: #fff;
}
input[type="submit"]:disabled:active,
input[type="button"]:disabled:active {
    background-color: #0e182d;
    color: #777777;
}
input[type="submit"]:disabled:active.is-inverted,
input[type="button"]:disabled:active.is-inverted {
    background-color: #fff;
    color: #777777;
}
.button--animation .is-inverted {
	background: #fff;
	color: #0e182d;
}
button:disabled.is-inverted,
.button:disabled.is-inverted,
input[type="submit"]:disabled.is-inverted,
input[type="reset"]:disabled.is-inverted,
input[type="button"]:disabled.is-inverted {
	background-color: #fff;
    border: 1px solid #ddd;
    color: #aaa;
    margin: -1px;
}
/*END BUTTONS STYLE*/
.page-intro {
	margin: 3rem 0;
}
.bodyCopy {
    font-family: "FFDINWeb";
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: 0.2px;
}
.headlineSmall {
    font-family: "StratumBold";
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: 0.1px;
    text-transform: uppercase;
}
.form-top-navigation {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
}
.form-top-navigation a {
	display: inline-block;
	margin: 0;
	padding: .25rem .5rem .25rem 0;
}
.form-top-navigation a span{
	display: inline-block;
	vertical-align: middle;
}
.form-top-navigation .item-text {
	color:#0e182d;
	font-family: "StratumBold";
    font-size: .9rem;
    line-height: 1.2rem;
    letter-spacing: 0.1px;
    text-transform: uppercase;
}
.myaf-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0 .5rem;
	background-repeat: no-repeat;
	background-position: 1px 1px;
	vertical-align: middle;
}
.myaf-icon.arrow-left {
	background-image: url("/resource/site_images/svg/arrow-left-dark-blue.svg");
	background-size: 9px 15px;
	margin-left: 0;
}

select{
    display: block;
    width: 100%;
    padding: 0px 40px 0px 20px;
    height: 50px;
    background: url("/resource/site_images/svg/arrow-down-dark-blue.svg") right center no-repeat;
    background-position-x: 95%;
    background-size: 15px;
    appearance: none; 
	-webkit-appearance: none;
	-moz-appearance: none; 
}